#NetBeans project directories
demos/nbproject/private/
demos/build/
demos/dist/
demos/test/
library/nbproject/private/
library/build/
library/dist/
library/test/

#Java files
*.class
*.jar
*.war
*.ear

#Error logs
hs_err_pid*
/Demos/nbproject/private/
/Library/nbproject/private/
/Library/build/
/Library/dist/